{% extends 'base.html.twig' %}

{% block main %}
    <h1>
        Config
    </h1>
    <ul>
        <li>
            PHP:
            {{ php_version }}
        </li>
        <li>
            SYMFONY:
            {{ symfony_version }}
        </li>
        <li>
            ENV:
            {{ app.environment }}
        </li>
        <li>
            DEBUG:
            {{ app.debug }}
        </li>
    </ul>
    {#{ dump(app) }#}
{% endblock %}
